{% extends "layout.html" %}

{% block body %}

    <main>
        <a href="/" class="back_button">
            <img src="/static/FijndBrein.svg" alt="Logo" class="logo">
            Search
        </a>
        <h1 id="title">{{ brain.name }}</h1>
        <h2 id="nickname">{{ brain.nickname }}</h2>
        <hr>
        <div id="grid">
            <p id="function">{{ brain.function_location }}<br><br>{{ brain.collaboration }}</p>
            <div id="image-container">
                <img src="{{ url_for('static', filename='images/' ~ brain.img) }}" alt="image of {{ brain.name }}">
                <p id="sources">{{ brain.sources }}</p>
            </div>
        </div>
        <div style="height: 80px;"></div>
    </main>

{% endblock %}